body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#ventaForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

#ventaForm label {
    display: block;
    margin-bottom: 5px;
}

#ventaForm input[type="text"],
#ventaForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#ventaForm input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
}