*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
    position: relative;
    height: 100%;
    min-height: 50vw;
    background: white;
}
.panel-requests{
    margin: 30px;
    width: 20%;
    height: 700px;
    list-style: None;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.users{
    height: 80px;
    background-color: #c5c5c5;
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    width: 220px;
}

.users img{
    margin-left: 5px;
}

.users p{
    width: 50%;
    margin: 10px 0px 10px 10px;
}

.acp-btn{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 100%;
    border-color: green;
    margin-right:0.5em;
}
.rej-btn{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 100%;
    border-color: red;
    margin-right:0.5em;

}
.info{
    padding: 20px;
    position: absolute;
    top: 130px;
    left: 35%;
    height: 600px;
    width: 35%;
    background-color: white;
    border: 3px solid blue;
    border-radius: 20px;
}

.innerContainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.innerContainer p{
    width: 300px;
}

#equis{
    border-radius: 100%;
    padding: 1em;
    margin-left: 1em;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.acp-btn2{
    width: 200px;
    height: 50px;
    font-size: 2rem;
    background-color: #1976d2;
    color: white;
    border-color: white;
    border-radius: 5%;
}
.rej-btn2{
    width: 200px;
    height: 50px;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    color: #1976d2;
    border-color: blue;
    border-radius: 5%;
}

#equis {
    border-radius: 100%;
    padding: 0.8em;
    border: 2px solid blue;
    background-color: white;
    margin: 1em 0 0 1em;
}