.info-Drivers {
  padding: 10px 0 10px 0px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top: 0.8px solid #e64d1f;
}

.info-Drivers img {
  background-color: #e64d1f;
  border-radius: 100%;
  border: #e64d1f 2px solid;
}
