header{
    display: flex;
    justify-content: space-between;
    background-color:#1976d2;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    height: 100px;
 }
header h1{
    color: #fff;
}