.drivers{
    width: 300px;
    height: 140px;
    background-color: white;
    border-radius: 5%;
    border: solid 2px gray;
    box-shadow: 0px 0px 10px 0px rgba(78, 77, 77, 0.75);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: 130px; 
    right: 10px;
}

.drivers h4{
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 0.5em 0;
}

.drivers p{
    width: 100%;
    padding: 0.8em 0 0.8em 0;
    text-align: center;
    color: gray;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.drivers p:hover{
    cursor: pointer;
    background-color: rgb(195, 195, 195);
}

.drivers hr{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid gray;
}
